

.product{
    /* height: 500px;
    border: 1px solid rgb(216, 185, 163);
    padding: 20px;
    margin: 20px;
    border-radius: 5px; */
    height: 500px;
    position: relative;
}
.btn-cart{
    width: 85%;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    
}
.btn-text{
    margin-right: 5px;
}



